/* nav-barlink spacing */
.nav-item {
  padding: 0 10px;
}

/* nav-bar text color change when hover */
.nav-link:hover {
  color: black;
}

/* nav-bar drop down text color change when hover */
.nav-item dropdown:hover {
  color: black;
}

/* style for large carousel in home page */
.homeimg {
    height: 25%;
}

.bodyFont{
  font-family: 'Frank Ruhl Libre', serif;
}
/* general style for body of webpage */
.body {
  font-family: 'Frank Ruhl Libre', serif;
  background-color: white;
  padding: 0;
  text-align: center;
  height: 50%;
}

/* .titlePadding {
  padding-left: 25px;
} */
.centerHeader {
  font-family: 'Frank Ruhl Libre', serif;
  padding-top: 35px;
  padding-bottom: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.carouselIndex {
  font-family: 'Frank Ruhl Libre', serif;
  /* padding-top: 10px;
  padding-bottom: 5px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* special margin for powerlifting page */
.pl-margin{
  margin: 0 25%;
}

/* imgs for carousel in powerlifting page */
.img1 {
  width: 100%;
  height: auto;
  border:2px solid black;
}

/* videos in carousel in powerlifting page */
video {
  border: 2px solid black;
}

.video-hori {
  height: auto;
}
.video-vert {
  width: auto;
}

.centerContact {
  font-family: 'Frank Ruhl Libre', serif;
  background-color: white;
  padding: 0;
  text-align: center;
  height: 50%;
}

/* style for top most image on every page */
.centerpic {
  width: 400px;
  height: auto;
  padding-top: 35px;
  padding-bottom: 5px;
}

/* style for div containing img and text in about page */
.skill-row {
  width: 60%;
  margin: 50px auto 10px auto;
  line-height: 2;
  text-align: left;
}

h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.education-header {
  padding-top: 20px;
}

/* style for circular image on about page */
.selfpic {
  height: 300px;
  width: 300px;
  float: left;
  margin-right: 20px;
  /* padding-right: 40px; */
}

.bio {
  text-align: justify;
}

/* container does not work with video. it causes the footer and video to overlap. pl-bottom-container empty */
.bottom-container {
  font-family: 'Frank Ruhl Libre', serif;
  /* background-color: green; */
  display: inline-block;
  margin-top: 25px;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

/* style for work experience table */
table.a {
  width: 50%;
  margin-left: 25%;
  margin-right: :25%;
  align: center;
}

/* style for education table */
table.b {
  width: 50%;
  margin-left: 25%;
  margin-right: :25%;
  align: center;
}

th {
  height: 40px;
}

td {
height: 40px;
}

/* style for footer on each page */
.footer-link {
  color: gray;
}

#pl-footer {
  color: gray;
}

.footer-link:hover {
  color: black;
}

/* style for scroll boz under img carousel in powerlifting page */
.myBox {
border: none;
padding: 10px;
font: 18px/36px sans-serif;
width: 100%;
height: 150px;
overflow: scroll;
margin-top: 10px;
margin-bottom: 10px;
}

.figureCaption {
border: none;
padding: 10px;
font: 18px/36px sans-serif;
width: 100%;
margin-top: 10px;
margin-bottom: 10px;
}
.carouselIndex {
  width: 65%;
  height: auto;
}
/* Scrollbar styles */
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
background: #f5f5f5;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
background: #999;
}

.sendbutton {
  margin-left; -50px;
}

.titlePadding{
  margin-bottom: 0;
}
.listParent {
  text-align: center;
  margin-top: 0;
}

.list {
    font-family: 'Frank Ruhl Libre', serif;
    margin-left: auto;
    margin-right: auto;
    display: table;
	  text-align: left;
    list-style-type: none;
    padding-right: 25px;
    margin-bottom: 0;
}

.contactForm {
  width: 400px;
}
