{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- picture and bio -->
  <div class="body skill-row">
    <img class="profileimage" src="{% static '/images/profile_image.png' %}" alt="profile-image">
    <div>
      <h3>About Me</h3>
      <p class="bio">I am student of Arizona State University's Master's of Computer Science program. I would like to think of my self as a ex-competative powerlifter, but that is debatable. Some of my hobbies are: learning to code, playing with my husky, working on cars, and taking pictures. This is my personal webisite/blog project!</p>
    </div>
  </div>

{% endblock %}